In [1]:
# variables 

var1 = ''
var2 = 5
var3 = 'Datapath'

print (var2)

5

In [2]:
print (type(var1))
print (type(var2))
print (type(var3))

<class 'str'>
<class 'int'>
<class 'str'>

In [3]:
a, b, c = 'Datapath', 'Python', 'Git'

print(a)
print(b)
print(c)

Datapath
Python
Git

In [5]:
# Tipos de datos

#String
var_string = 'qwerty'

print(var_string)
print(var_string[1:3])

qwerty
we

In [6]:
# numericas

var_int = 10
var_float = 4.5
var_complex = 3.14j

print(type(var_complex))

<class 'complex'>

In [7]:
# Listas
# list = [a, b, c, d]

list_1 = []

list_2 = [2, 3, 4, 5]

list_3 = [3, "qwert", 44.4]

list_4 = ["Datapath", 4, [3, 5, 7], ['a', 4.5, 4.5j]]

In [9]:
print(list_4[1])
print(list_4[2][1])

4
5

In [10]:
lista = [1, 2, 3, 4, 5]
print (lista[2:4])

[3, 4]

In [11]:
lista[4] = 7
print(lista)

[1, 2, 3, 4, 7]

In [12]:
list_a = [6, 7, 8]

list_a.append(3)
list_a.append(5)

print(list_a)

[6, 7, 8, 3, 5]

In [13]:
list_a.extend([1, 2, 4])
print(list_a)

[6, 7, 8, 3, 5, 1, 2, 4]

In [23]:
list_a = [1, 2, 3]
list_b = [9, 8, 7]

list_final = list_a + list_b

print(list_final)

[1, 2, 3, 9, 8, 7]

In [33]:
result = []

for i in range(len(list_a)):
    print(list_a[i] + list_b[i])
    result.append(list_a[i]+list_b[i])

print(result)

10
10
10
[10, 10, 10]

In [20]:
#Tuplas
tupla = ()

tupla_int = (1, 3, 4)

tupla_mixta = (1, 4.j, "Datapath")

tupla_anidada = (1, 4.5, (1, 2, 3))

print(tupla_anidada)

(1, 4.5, (1, 2, 3))

In [25]:
tupla_1 = ('Datapath',)
print(type(tupla_1))

tupla_2 = "Datapath",
print(type(tupla_2))

<class 'tuple'>
<class 'tuple'>

In [26]:
# Diccionarios 

# diccionario_1 = {}

dic_1 = {}
dic_2 = {
    1: 'Datapath',
    2: 'Python'
}

dic_3 = {
    'nombre' : 'Juan',
    'apellido' : 'Perez'
}

print(dic_3)

{'nombre': 'Juan', 'apellido': 'Perez'}

In [28]:
print(dic_3["nombre"])
print(dic_3["apellido"])

Juan
Perez

In [29]:
print(dic_3.get('nombre'))

Juan

In [30]:
dic_3['edad'] = 25
print(dic_3)

{'nombre': 'Juan', 'apellido': 'Perez', 'edad': 25}

In [31]:
for key in dic_3:
    print(key, '->', dic_3[key])

nombre -> Juan
apellido -> Perez
edad -> 25

In [39]:
#control de flujo 
# condicionales if - elif - else

x = 0

if x > 0 : 
    print("x es positiva")
elif x == 0:
    print("x es cero")
else:
    print("x es negativo")

x es cero

In [40]:
if x >= 0 : 
    if x == 0:
        print("x es cero")
    else:
        print("x es positiva")
else:
    print("x es negativo")

x es cero

In [43]:
# for 

for item in range(5):
    print(item)

0
1
2
3
4

In [44]:
c = 0

while c < 5:
    print('Contador', c)
    c = c + 1

Contador 0
Contador 1
Contador 2
Contador 3
Contador 4

In [45]:
# break 

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [46]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [47]:
def clean_data():
    pass
if True:
    pass

In [48]:
def function():
    return "Hola"

var_1 = function()
print(var_1)

Hola

In [49]:
def function(x):
    return 2*x

print(function(4))

8

In [50]:
def read_table(table_name):
    query = f"SELECT * FROM {tabla_name}"
    return execute_query(query)

In [51]:
suma = lambda a,b: a+b
print(suma(2,5))

7

In [ ]:
#Eliminar duplicados en una lista
# Buscar un elemento en  una lista
# Crear una funcion que calcule el factorial de un número
# Sumar número pars desde el 1 hasta el 100

In [56]:
lista_ejercicios = [1, 3, 5, 7, 8, 9, 3, 5, 4, 2, 6, 3]

In [59]:
lista_sin_duplicados = list(set(lista_ejercicios))
print(lista_sin_duplicados)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
lista_sin_duplicado = []
for i in lista_ejercicios:
    if i not in lista_sin_duplicado:
        lista_sin_duplicado.append(i)

print (lista_sin_duplicado)

[1, 3, 5, 7, 8, 9, 4, 2, 6]

In [62]:
def eliminar_duplicados(lista):
    return list(set(lista))


eliminar_duplicados (lista_ejercicios)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
def bucar_elementos(lista, i):
    return lista[i]

buscar_elementos(lista_ejercicios, 2)

9

In [73]:
def factorial(num):
    if num == 0:
        return 1
    else:
        return num * factorial(num-1)

factorial(5)

120

In [74]:
def suma_pares():
    pares = [num for num in range(1, 101) if num % 2 == 0]
    return sum(pares)

print(suma_pares())

2550

In [77]:
def suma_pares():
    suma = 0

    for num in range(1, 101):
        if num % 2 == 0:
            suma = suma + num 
    return suma

print(suma_pares())

2550